.bg-black-overlay{
	width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.7;
}
.signin {
   	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	width:450px;
	height:500px;
	padding:48px 40px 40px 40px;
	box-sizing: border-box;
	background: white;
	border: solid 1px #e5e5e5;
	border-radius:4px;

}

.signin h2 {
	color: black;
	text-align:center;
	font-size: 24px;
	margin-top: 0;
	margin-bottom: 40px;
}

.signin p {
	padding:0;
	margin:0;
	color: black;
	text-align:left;
	margin-bottom: 8px;
}

.signin input[type="text"], .signin input[type="password"] {
	width: 366px;
    height: 54px !important;
	margin-bottom: 30px;
	background: transparent;
	outline:none;
	height:40px;
	color:#fff;
	font-size: 16px;
	border: solid 1px #e5e5e5;
    padding: 13px 15px;
}


.login-btn {
	border:none;
	outline:none;
	width: 90px;
	height: 46px;
	color: white;
	font-size:14px;
	font-weight: bold;
	border-radius: 4px;
	background: rgb(255,38,126);
	cursor:pointer;

}

.login-btn:hover {
	background: #efed40;
	color: #262626;
}



.create-login{
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.create-login a{
	color: black;
	font-size:16px;
	text-decoration:none;
}

.create-login a:hover{
    color: skyblue;
}

.create-ac{
	margin-top: 40px;
    text-align: left;
}

.create-ac a{
	color: grey;
	font-size: 14px;
	text-transform: none;
	text-decoration: none;
	cursor: default;
}

.create-ac a span{
	text-decoration: underline;
	cursor: pointer;
}
.create-ac a span:hover{
	color: black;
}
::placeholder {
	color:rgba(255,255,255,0.5);
}



/*.user {*/
/*	width:100px;*/
/*	height:100px;*/
/*	overflow:hidden;*/
/*	position:absolute;*/
/*	top:calc(-100px/2);*/
/*	left:calc(50% - 50px);*/
/*	border-radius:50%;*/
/*}*/
